.text-about p{
    line-height: 2.5;
}

.about{
    margin-top: 100px !important;
    padding: 0 20px;
}

.about i{
    font-size: 40px;
    margin-bottom: 50px;
    color: #CB9273;
}

.about h4{
    font-size: 25px;
}

.about p{
    font-size: 18px;
}

.bg-staff{
    margin-bottom: 100px;
}

.desc-staff{
    margin-left: -40px !important;
}

.desc-staff h2{
    letter-spacing: 2px;
}

.desc-staff p{
    line-height: 2;
}

.socmed{
    display: flex;
    justify-content: flex-end;
}

.list-group-item{
    border: 0px !important;
}

.socmed i{
    font-size: 24px;
    transition: .7s;
    cursor: pointer;
}

.socmed i:hover{
    color: #CB9273;
}

@media (max-width: 991.98px) {
    .text-about {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
    }

    .about{
        margin-top: 30px !important;
        padding: 20px;
    }

    .about h4{
        font-size: 20px;
    }

    .about p{
        font-size: 16px;
    }

    .desc-staff{
        padding-top: 0 !important;
        margin-left: 0 !important;
    }

    .img-staff img{
        width: 100%;
        object-fit: cover;
    }

    .socmed {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .text-about p{
        text-align: justify;
    }

    .bg-staff .title-text{
        margin-top: 100px !important;
    }

    .desc-first{
        display: none;
    }

    .desc-second{
        display: block !important;
    }
}

@media (max-width: 575.98px) {
    .bg-staff{
        padding: 0 30px;
    }

    .desc-staff{
        margin-top: 50px;
    }

    .staff{
        margin-top: -30px !important;
    }
}