.form-group label{
    color: #000 !important;
}

.info .title-text{
    width: 90%;
    margin: 0;
    margin-top: 100px;
}
.info .title-text h1{
    font-weight: 600;
    color: #444;
}

.info .title-text p{
    width: 90%;
}

.bg-contact{
    background-color: #ECEBE6;
    padding: 100px 0;
}

.title-contact h4{
    font-size: 20px;
    color: #CB9273 !important;
}

.title-contact h1{
    margin: 0 auto;
    width: 90%;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}

.contact{
    border-radius: 5px;
    padding: 40px;
    background-color: #fff;
}

.maps{
    border-radius: 10px;
    margin-top: 50px;
    padding-right: 50px !important;
    height: 400px;
}

@media (max-width: 1199.98px) {
    .bg-maps{
        margin-top: -200px;
    }
    
    
@media (max-width: 991.98px) {
    .contact{
        margin-top: 50px;
    }
    
    .maps{
        padding-right: 0px !important;
    }
    
}


@media (max-width: 767.98px) {
    .bg-maps{
        margin-top: -100px;
    }
}