.main-section{
    background-image: url(../img/img-banner/3.jpg);
}

.img-about{
    background-image: none;
    background-color: transparent;
}

.img-about img{
    box-shadow: 5px 5px 25px rgba(133, 127, 127, 0.25);
    width: 100%;
    object-fit: cover;
}

.rate i{
    color: #CB9273 !important;
}

.text-about p{
    line-height: 1.5;
    text-align: justify;
}

.features h3{
    color: #444;
}

.text-about .list-group-item{
    background-color: transparent !important;
    border: none !important;
    padding: 8px 0 !important;
    font-family: Newsreader;
}

.carousel-control-prev{
    left: 70% !important;
}

.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-size: 100% 100%;
    margin: 0 10px !important;
}

.carousel-control-next-icon i, .carousel-control-prev-icon i {
    background-color: #CB9273;
    color: #fff;
    padding: 5px 10px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 1;
    float: right !important;
}

.text-about .list-group-item i{
    margin-right: 15px;
    margin-top: 5px;
    color: #444;
}

.carousel-indicators li{
    background-color: #666 !important;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active{
    background-color: #000 !important;
}

.bg-produk{
    padding-top: -100px;
    margin-bottom: 200px !important;
}

.bg-produk .title-text{
    margin: 0 auto;
    margin-top: -100px;
}

@media (max-width: 991.98px) {

    .carousel-control-next{
        right: 5% !important;
    }

    .features{
        display: none !important;
    }

    .text-about p{
        line-height: 1.5;
        text-align: justify;
    }

    .carousel-indicators li{
        margin-top: -150px !important;
    }

    .bg-produk{
        margin-top: -200px;
    }

}

@media (max-width: 767.98px) { 
    .carousel-control-next, .carousel-control-prev{
        top: 130px !important;
    }

    .carousel-item{
        padding: 30px;
    }

    .text-detail{
        margin-top: 150px !important;
    }

    .features{
        display: block !important;
    }

    .img-about{
        height: 450px;
    }

    .carousel-indicators li{
        display: none;
    }

    .bg-produk{
        margin-top: -50px;
    }

    .bg-produk .title-text{
        width: 50%;
    }
    
}

@media (max-width: 575.98px) {
    .carousel-control-next, .carousel-control-prev{
        top: 180px !important;
    }

    .text-detail{
        margin-top: 200px !important;
    }

    .bg-produk .title-text{
        margin-top: 0px;
    }
}

@media (max-width: 375px){
    .carousel-control-next, .carousel-control-prev{
        top: 0px !important;
    }

    .text-detail{
        margin-top: 0px !important;
    }

    .bg-produk .title-text{
        width: 100%;
        margin-top: 100px;
    }
    .harga{
        margin-top: 5px;
    }
}


@media (max-width: 320px){
    .carousel-control-next, .carousel-control-prev{
        top: -100px !important;
    }

    .text-detail{
        margin-top: -100px !important;
    }
}
