.img-about{
    background-image: none;
    background-color: transparent;
}

.img-about img{
    box-shadow: 5px 5px 25px rgba(133, 127, 127, 0.25);
    width: 100%;
    object-fit: cover;
}

.rate{
    padding: 5px 10px;
    background-color: #CB9273;
    color: #fff;
    width: 50px;
    text-align: center;
}

.text-about p{
    line-height: 2;
}

.carousel-indicators li{
    background-color: #666 !important;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active{
    background-color: #000 !important;
}

.bg-produk .title-text{
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.bg-produk .title-text h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #000;
    top: 50px;
    left: 135px;
}

@media (max-width: 991.98px) {

    .rate{
        font-size: 18px;
        padding: 5px !important;
    }

    .text-about p{
        line-height: 1.5;
        text-align: justify;
    }

    .carousel-indicators li{
        margin-top: -150px !important;
    }

    .bg-produk{
        margin-top: -200px;
    }

    .bg-produk .title-text h1::after{
        left: 80px;
    }
}

@media (max-width: 767.98px) { 
    .carousel-item{
        padding: 30px;
    }

    .img-about{
        height: 450px;
    }

    .carousel-indicators li{
        display: none;
    }

    .bg-produk{
        margin-top: -50px;
    }

    .bg-produk .title-text{
        width: 50%;
    }

    .bg-produk .title-text h1::after{
        left: 100px;
    }
    

}

