.main-section{
    background-image: url(../img/img-banner/6.jpg);
}

.img-detail-service{
    width: 400px;
}

.text-detail-service h1, .text-detail-service-second h1{
    letter-spacing: 3px;
}

.rate{
    margin-top: -10px;
    margin-bottom: 30px;
}

.rate i{
    color: #CB9273 !important;
}

.text-detail-service{
    position: relative;
    padding-top: 130px;
}

.text-detail-service::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #000;
    left: -150px;
    bottom: 150px;
}

.text-detail-service-second{
    position: relative;
    padding-top: 150px;
    margin-left: -50px !important;
    width: 95%;
}

.text-detail-service-second::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #000;
    right: -190px !important; 
    bottom: 150px;
}

.modal-header {
    border-bottom: 0px solid #e9ecef ;
}

.modal-footer {
    border-top: 0px solid #e9ecef ;
}

.btn-secondary{
    margin-top: 30px;
}

.btn-modal{
    margin-top: 30px;
}

.title-text{
    margin-bottom: 5rem;
}

.bg-staff .title-text{
    margin-top: -50px !important;
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.bg-staff .title-text h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #000;
    top: 50px;
    left: 140px;
}

.bg-staff{
    margin-top: -400px;
    padding-bottom: 100px !important;
}

.bg-staff .title-text{
    margin-top: -100px !important;
}

.bg-staff .title-text h1{
    letter-spacing: 2px;
}

.text-testi p{
    line-height: 2;
    font-size: 18px;
    letter-spacing: 1px;
}

.icon-testi i{
    color: #CB9273;
    font-size: 24px;
}

.name-testi h3{
    letter-spacing: 2px;
}

@media (max-width: 1199.98px) {
    .text-detail-service-second::before{
        width: 100px;
        right: -130px !important; 
    }

    .text-detail-service::before{
        width: 100px;
        left: -100px;
    }

    .bg-staff .title-text h1::after{
        left: 115px;
    }
}   

@media (max-width: 991.98px) {
    .bg-staff{
        margin-top: -100px !important;
    } 
    .text-detail-service-second::before{
        width: 0px; 
    }

    .text-detail-service::before{
        width: 0px;
    }

    .bg-staff .title-text h1::after{
        left: 75px;
    }

    .icon-testi i{
        margin-top: 30px;
    }
}

@media (max-width: 767.98px) {
    .img-detail-service{
        margin: 0 auto;
    }

    .text-detail-service{
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 50px !important;
    }

    .text-detail-service p, .text-detail-service-second p{
        text-align: center !important;
    }

    .text-detail-service-second{
        display: none;
    }

    .btn-secondary{
        float: right !important;
        width: 100px;
        margin-left: 70px;
    }

    .btn{
        float: left;
    }

    .second-text{
        display: block !important;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 50px !important;
    }

    .bg-staff .title-text h1::after{
        left: 50px;
    }
    
}

@media (max-width: 575.98px) { 
    .bg-staff{
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 1366px){
    .bg-staff{
        margin-top: -200px;
    }
}

@media (max-width: 375px){
    .main-section .ripped{
        bottom: 0%;
    }

    .bg-staff .title-text{
        margin-top: 50px !important;
        width: 70%;
    }

    .bg-staff .title-text h1::after{
        left: 95px;
    }
    
    .img-detail-service {
        width: 200px;
    }    

}

@media (max-width: 320px){
    .main-section .ripped{
        bottom: -10%;
    }

    .bg-about{
        margin-top: 50px;
    }

    .img-detail-service{
        width: 400px;
    }

    .img-detail-service {
        width: 200px;
    }    

    .bg-staff{
        margin-top: 0px;
    }
    
    .bg-staff .title-text h1::after{
        left: 75px;
    }

    .text-testi p{
        line-height: 2;
        font-size: 15px;
        letter-spacing: 1px;
    }
}

