.img-detail-service{
    width: 400px;
    box-shadow: 15px 10px 15px rgba(0,0,0,0.16);
}

.text-detail-service h1, h4{
    letter-spacing: 3px;
}

.text-detail-service{
    position: relative;
    padding-top: 150px;
}

.text-detail-service::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #000;
    left: -150px;
    bottom: 90px;
}

.text-detail-service-second{
    position: relative;
    padding-top: 150px;
    margin-left: -50px !important;
    width: 95%;
}

.text-detail-service-second::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #000;
    right: -170px !important; 
    bottom: 90px;
}

.price{
    width: 70px;
    padding: 5px 10px;
    background-color: #CB9273;
    color: #fff;
    text-align: center;
}

.title-text{
    margin-bottom: 5rem;
}

.bg-staff .title-text{
    margin-top: -50px !important;
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.bg-staff .title-text h1::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #000;
    top: 50px;
    left: 140px;
}

.bg-staff{
    margin-top: -400px;
    padding-bottom: 100px !important;
}

.bg-staff .title-text{
    margin-top: -100px !important;
}

.text-testi p{
    line-height: 2;
    font-size: 18px;
    letter-spacing: 1px;
}

.icon-testi i{
    color: #CB9273;
    font-size: 24px;
}

.name-testi h3{
    letter-spacing: 2px;
}

@media (max-width: 1199.98px) {
    .text-detail-service-second::before{
        width: 100px;
        right: -130px !important; 
    }

    .text-detail-service::before{
        width: 100px;
        left: -100px;
    }

    .bg-staff .title-text h1::after{
        left: 115px;
    }
}   

@media (max-width: 991.98px) {
    .text-detail-service-second::before{
        width: 0px; 
    }

    .text-detail-service::before{
        width: 0px;
    }

    .bg-staff .title-text h1::after{
        left: 75px;
    }

    .icon-testi i{
        margin-top: 30px;
    }
}

@media (max-width: 767.98px) {
    .img-detail-service{
        margin: 0 auto;
    }

    .text-detail-service{
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 50px !important;
    }

    .text-detail-service-second{
        display: none;
    }

    .price{
        width: 100px;
        margin: 0 auto;
    }

    .second-text{
        display: block !important;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        margin-top: 50px !important;
    }
    
}


