@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Newsreader&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: Teko;
}

h1, h2{
    font-weight: bold;
}


p{
    font-family: Newsreader;
}

html{
    scroll-behavior: smooth;
}

input:focus{
    outline: none !important;
}

.main-section{
    height: 100vh;
    background-image: url(../img/img-banner/4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navbar .nav-item{
    font-family: Teko;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
    transition: .7s;
    text-transform: uppercase;
}

.navbar .nav-item:hover{
    color: #CB9273 !important;
}

.navbar-nav .active::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #CB9273;
    left: 23%;
    bottom:     0px;
}

.main-section i{
	font-size:50px;
	color:#fff;
    margin-left: 10px;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
 }

 .shrink {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 55px !important;
    background-color: #fff;
    box-shadow: 10px 15px 15px rgba(0,0,0,0.15);
}

.shrink .logo-1{
    display: none !important;
}

.shrink .logo-2{
    display: block !important;
}

.logo-2{
    transition: 1s;
    display: none !important;
}

.shrink .nav-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #333 !important;       
}

.btn{
    background-color: #CB9273 !important;
    border: 1px solid #CB9273 !important;
    font-family: Teko;
    font-size: 20px;
    letter-spacing: 2px;
    outline: #CB9273 !important;
}

.btn-secondary{
    background-color: transparent !important;
    border: 1px solid #CB9273 !important;
    color: #CB9273;
}

.btn-secondary:hover{
    color: #CB9273;
}

.main-section .section-part{    
    top: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
}

.section-part h4{
    font-size: 30px;
    color: #CB9273;
    letter-spacing: 5px;
}

.section-part h1{
    font-size: 80px;
    letter-spacing: 3px;
}

.section-part p{
    font-size: 20px;
}

.section-part i{
    margin-top: 30px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 100%;
    cursor: pointer;
}

.main-section .ripped{
    position: absolute;
    bottom: -40%;
}

.bg-intro{
    padding: 0 15px;
    margin-bottom: 50px;
}

.bg-intro .text-about{
    padding: 0px !important;
    width: 90% !important;
}

.bg-intro .text-about p{
    line-height: 2;
}

.line{
    margin: 100px 0;
    border-top: 1px solid #999;
}

.intro h1{
    color: #CB9273;
    font-size: 60px;
}

.bg-about{
    background-color: #ECEBE6;
}

.img-about{
    height: 650px;
    width: 480px;
    background-color: red;
    background-image: url(../img/13.jpg);
    background-size: cover;
    background-position: center;
}

.text-about h4{
    font-size: 18px;
    color: #CB9273;
    letter-spacing: 2px;
}

.text-about h1{
    color: #444;
    font-size: 40px;
}

.about h2{
    letter-spacing: 1px;
    font-size: 20px;
    color: #444;
}

.about p {
    font-size: 18px;
    margin-top: 20px !important;
}

.icon-about{
    padding: 15px 5px;
}

.icon-about i{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #CB9273;
}

.bg-staff{
    margin-top: -300px;
}

.title-text{
    width: 60%;
    margin: 0 auto;
}

.title-text h4{
    letter-spacing: 3px;
    margin-top: -100px;
    font-size: 18px;
    color: #CB9273;
    text-transform: uppercase;
}

.title-text h1{
    color: #444;
    font-size: 40px;
    text-transform: uppercase;
}

.card{
    margin-top: 50px !important;
    box-shadow: 5px 5px 8px rgb(1 87 155 / 10%);
}

.card-title{
    font-size: 24px;
    color: #CB9273;
    font-weight: 500;
    letter-spacing: 1px;
}

.card-text{
    color: #444 !important;
    margin-top: -10px !important;
}

.bg-pricelist{
    margin-top: -300px;
    background-color: #ECEBE6;
}

.bg-pricelist .container-fluid{
    padding: 0 250px;
}

.img-price{
    height: 750px;
    background-image: url(../img/14.jpg);
    background-size: cover;
    background-position: center;
}

.ripped{
    width: 100%;
}

.price{
    margin-right: 20px;
    margin-top: -10px;
    padding: 5px 10px;
    text-align: center;
    background-color: #CB9273;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.list{
    margin: 10px 0;
    position: relative;
    height: 100px;
}

.list::before{
    content: '';
    position: absolute;
    width: 63%;
    height: 1px;
    top: 20px;
    right: 100px;
    border: 1px dashed #444;
}

.title-list h2{
    text-transform: uppercase;
    font-weight: 500;
    color: #444;
    font-size: 30px;
}

.bg-produk{
    margin-top: -300px;
}

.bg-produk a{
    text-decoration: none;
}

.produk{
    transition: .7s;
    cursor: pointer;
    border: none;
}

.produk:hover{
   transform: scale(1.1);
}

.produk .card-title{
    position: relative;
    margin-bottom: 25px;
    color: #444;
}

.produk .card-text{
    color: #CB9273 !important;
}

.produk .card-title::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ececec;
    top: 30px;
    left: 37%;
}

.produk h5{
    color: #CB9273;
}

.bg-appoinment{ 
    padding-bottom: 100px !important;
    padding-top: 100px !important;
    width: 100%;
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg-appoinment .title-text{
    position: relative;
}

.bg-appoinment h1{
    color: #fff !important;
    letter-spacing: 2px;
}

.bg-appoinment .title-text::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #ececec;
    top: 50px;
    left: 47%;
}

.appoinment{
    background-color: #000;
    opacity: 70%;
}

.form-group label{
    color: #fff !important;
    font-family: Teko;
    text-transform: uppercase;
    font-size: 20px;
}

.form-group{
    margin-bottom: 30px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem .75rem !important;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #000 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Teko;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus{
    outline: none !important;
}

.select-control{
    padding: 1rem .75rem !important;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: Teko;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  margin: 5px 0;
}
.footer-links a
{
  color:#737373;
  transition: .7s;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#CB9273;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons
{
  text-align:right
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  background-color:#33353d
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#CB9273
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#CB9273
}

.social-icons a.twitter:hover
{
  background-color:#CB9273
}

.social-icons a.dribbble:hover
{
  background-color:#CB9273
}

@media (max-width:767px){
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width: 1199.98px) {    
    .main-section .ripped{
        bottom: -20%;
    }
    
    .img-about{
        width: 450px;
    }
    
    .text-about h4{
        font-size: 18px;
        color: #CB9273;
    }
    
    .text-about h1{
        font-size: 30px;
    }

    .about h2{
        font-size: 20px;
    }

    .about p{
        font-size: 16px;
    }

    .bg-staff{
        margin-top: -200px;
    }

    .title-text h1{
        font-size: 30px;
    }

    .bg-pricelist{
        margin-top: -200px;
        background-color: #ECEBE6;
    }
    
    .bg-pricelist .container-fluid{
        padding: 0 200px;
    }
    
    .img-price{
        height: 900px;
    }

    .price{
        margin-right: 0px;
    }

    .list{
        margin: 20px 0;
    }

    .list::before{
        width: 45%;
        right: 80px;
    }
    

    .title-list h2{
        font-size: 25px;
    }

    .bg-produk{
        margin-top: -200px;
    }

    .produk .card-title::after{
        left: 33%;
    }
}

@media (max-width: 991.98px) {

    .navbar{
        position: relative;
    }

    .navbar-toggler {
        background-color: transparent;
        outline: none !important;
        border: 1px solid transparent;
        position: absolute;
        right: 20px;
        top: 40px;
        transition: .7s;
    }

    .logo-1 {
        display: none !important;
    }

    .logo-2{
        display: block !important;
    }

    .navbar{
        box-shadow: 15px 10px 15px rgba(0,0,0,0.15);
        color: #fff;
        background-color: #fff !important;
    }

    .navbar-nav .nav-item{
        color: #333 !important;
    }

    .navbar-nav .nav-link{
        padding-left: 20px !important;
    }

    .navbar-nav .nav-item::before{
        width: 0px;
    }

    .shrink .nav-item{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .shrink .navbar-toggler {
        top: 30px;
    }

    .navbar-nav{
        padding-bottom: 20px !important;
    }

    .navbar-toggler i{
        font-size: 30px;
    }

    .navbar-toggler i{
        color: #333;
    }

    .main-section .container{
        width: 100%;
        margin-left: 0px !important;
    }

    .section-part{
        margin-top: 70px;
        text-align: center !important;
    }

    .img-about{
        width: 100%;
        margin-bottom: 50px;
    }
    
    .text-about h4{
        font-size: 18px;
        color: #CB9273;
    }
    
    .text-about h1{
        font-size: 30px;
    }

    .about h2{
        font-size: 28px;
    }

    .card-title{
        font-size: 24px;
    }

    .img-price{
        margin-bottom: 50px;
    }

    .list::before{
        width: 65%;
    }
    
    .list-2::before{
        width: 70%;
    }

    .card{
        margin-top: 0px !important;
    }

    .produk .card-title::after{
        left: 40%;
    }

}

@media (max-width: 767.98px) { 
    .main-section .ripped{
        position: absolute;
        bottom: -10%;
    }

    .bg-intro .text-about{
        width: 100% !important;
    }

    .bg-staff{
        margin-top: -100px;
    }

    .img-price{
        height: 500px;
    }

    .title-text{
        width: 100%;
    }

    .list{
        padding-right: 20px;
    }

    .list h2{
        font-size: 28px;
    }

    .list::before{
        right: 90px;
        width: 35%
    }
    
    .list-2::before{
        width: 50%;
    }

    .price{
        margin-right: 0px;
    }

    .bg-produk{
        margin-top: -50px;
    }

    .produk .card-title::after{
        left: 35%;
    }
}

@media (max-width: 575.98px) { 
    .main-section h1{
        font-size: 50px;
    }

    .main-section .ripped{
        bottom: -0%;
    }

    .bg-staff{
        margin-top: -100px;
    }

    .bg-staff .title-text{
        margin-top: 100px;
    }

    .bg-pricelist{
        margin-top: 0px;
    }

    .bg-pricelist .container-fluid{
        padding: 30px;
    }

    .list::before{
        width: 55%
    }
    
    .list-2::before{
        width: 60%;
    }

    .bg-produk .title-text{
        margin-top: 100px;
    }

    .produk .card-title::after{
        left: 37%;
    }
    
}

@media only screen and (max-width: 1366px){
    .main-section .ripped{
        bottom: -40% !important;
    }    

    .img-price{
        height: 900px;
    }

    .list{
        margin-bottom: 30px !important;
    }

    .list::before{
        width: 40%;
    }
    .bg-staff{
        margin-top: -150px !important;
    }
    .bg-pricelist{
        margin-top: -150px;
    }
    .bg-produk{
        margin-top: -150px;
    }
}

@media (max-width: 375px){

    .img-about{
        height: 300px;
    }

    .main-section .ripped{
        bottom: -10%;
    }    

    .title-list h2{
        font-size: 25px;
    }

    .list::before{
        width: 30%;
    }

    .line{
        margin: 50px 0;
    }

    .bg-staff{
        margin-top: 0px;
    }

    .img-price{
        height: 300px;
    }

}

@media (max-width: 320px){
    .section-part{
        margin-top: 20px;
    }

    .bg-staff{
        margin-top: 0px;
    }

    .list{
        margin-bottom: 0px !important;
    }

    .list h2{
        font-size: 20px;
    }

    .price{
        margin-top: 20px;
    }

    .list p {
        display: none;
    }

    .list::before{
        top: 50px;
    }

    .title-list h2{
        font-size: 25px;
    }

    .list::before{
        width: 30%;
    }
}





